<!doctype html>
<html>

<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} {% endif %}</title>
  <link href="css/{{ site.style }}-screen.css" type="text/css" rel="stylesheet" media="screen">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
  <link rel="manifest" href="../favicon/site.webmanifest">
</head>

<body>
  <div id="main">
    <div id="content" class="general markdown-container">
      {{ content | markdownify }}
    </div>
  </div>
</body>

</html>